<!DOCTYPE html>
<html lang="{{ data.locate }}" classÑ="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->

	<title>{{ data.app_name }}</title>

	<script src="js/modernizr.js"></script> <!-- Modernizr -->
</head>
<body>
<header>
	<h1>{{ data.app_name }}</h1>
</header>
<section class="cd-faq">
	<ul class="cd-faq-categories">
		{% for theme in themes %}
		<li><a {{ loop.first ? 'class="selected" ' : '' }}href="#{{ theme.name|lower }}">{{ theme.name }}</a></li>
		{% endfor %}
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		{% for theme in themes %}
		<ul id="{{ theme.name|lower }}" class="cd-faq-group">
			<li class="cd-faq-title"><h2>{{ theme.name }}</h2></li>
			{% for question in theme.questions %}
			<li>
				<a class="cd-faq-trigger" href="#0">{{ question.text }}</a>
				<div class="cd-faq-content">
					<p>{{ question.answer }}</p>
				</div> <!-- cd-faq-content -->
			</li>

			{% endfor %}
		</ul> <!-- cd-faq-group -->
		
		{% endfor %}
	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/jquery.mobile.custom.min.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
