{% extends "layouts.app" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            {% if session('status') %}
                <div class="alert alert-success" role="alert">
                    {{ session('status') }}
                </div>
            {% endif %}
        </div>

        <h1 class="col-md-9">Список тем</h1>

        <a class="col-md-3 button" href="{{ route('themes.create') }}">Новая тема</a>
        {% if themes[0] is defined %}
        <table class="col-md-12">
            <tr>
                <th>ID</th>
                <th>Название темы</th>
                <th>Количество вопросов</th>
                <th>Опупликовано</th>
                <th>Без ответа</th>
            </tr>
            {% for theme in themes %}
            <tr>
                <td>{{ theme.id }}</td>
                <td>{{ theme.name }}</td>
                <td>{{ theme.questions|length }}</td>
                <td>
                    {% set count = 0 %}
                    {% for question in theme.questions %}
                        {% if question.published %}
                            {% set count = count + 1 %}
                        {% endif %}
                    {% endfor %}
                    {{ count }}
                </td>
                <td>
                    {% set count = 0 %}
                    {% for question in theme.questions %}
                        {% if question.answer %}
                            {% set count = count + 1 %}
                        {% endif %}
                    {% endfor %}
                    {{ count }}
                </td>
                <td><a  class="button" href="{{ route('themes.edit', [theme.id]) }}">Редактировать</a></td>
                <td>
                    <form action="{{ route('themes.destroy', [theme.id]) }}" method="post">
                        {{ csrf_field() }}
                        {{ method_field('DELETE') }}
                        <button type="submit" class="button balert">Удалить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Пока нет ни одной темы...</p>
        {% endif %}

    </div>
</div>
{% endblock %}
